.login-form{
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px auto;
    text-align: center;
    height: 600px;
    width: 350px;

    input{
        width: 300px;
    }

    label{
        text-align: left;
    }

}