#bcImg{
    background-image: url('../../Images/error.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.d-flex{
    width: 100%;
    height: 100vh;
}